@model SmartBook.Models.Book

@{
    ViewBag.Title = "Book Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>פרטי הספר</h2>


שם הספר: @Model.BookName
<br />
סופר: @Model.WriterName
<br />
שנת הוצאה לאור: @Model.YearOfPublish
<br />
תקציר: @Model.Summary
<br />
<img src="@Model.Picture.PictureName " alt="Steak" style="width:50%">
<br />


@Html.ActionLink("הוסף תגובה חדשה", "CreataComment",Model)

<table class="table">
    <tr>
        <th>
            משתמש
        </th>

        <th>
            תגובה
        </th>

        <th>
            תאריך
        </th>
        <th>
            דירוג
        </th>
    </tr>

    @foreach (var item in Model.Review)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewRating)
        </td>
    </tr>
    }


</table>


<iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=fc5sv53ko" width="100%" height="480" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen></iframe>